:root{
    --primary-orange: rgb(255,102,0);
    --primary-navy: rgb(35,35,63);
    --primary-gray: rgb(242,242,242);

    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.banner{
    object-fit:cover;
}

.container{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    outline: solid;
    height: auto;
    max-width: 33vw;
}

.terms-and-conditions{
    background-color: var(--primary-gray);
    font-size: small;
}
* .terms-and-conditions{
    padding:3em 4em;
}

.terms-and-conditions>p{
    margin-bottom: 1rem;
}


h1{
    color: var(--primary-orange);
    letter-spacing: .01rem;
}

button{
    color:white;
    background-color: var(--primary-orange);
    border: none;
    width: 50%;
    padding: .5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    border-radius: 3px;

}

.appstores{
    display:flex;
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
}

nav{
    display:flex;
    margin-bottom: 4em;
}



li{
    list-style: none;
}

p{
    letter-spacing: .01rem;
}

/* img {
    width: 30%;
    object-fit: contain;
  } */