:root{
    --primary-puple: rgb(97,56,245);
    --primary-gray: rgb(242,242,242);

    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.banner{
    object-fit:cover;
}

.container{
    display:flex;
    flex-direction: column;
    max-width: 33vw;
    margin: 0 auto;
    outline: solid;
    padding: 1rem 3rem;
}

.top-bar{
    display:flex;
    justify-content: space-between;
}

.terms-and-conditions>p{
    margin-bottom: 1rem;
}


h1{
    font-weight: bold;
}

.accent{
    color: var(--primary-puple);
}

button{
    background-color: var(--primary-puple);
    color:white;
    font-weight: bold;
    border: none;
<<<<<<< HEAD
    width: 50%;
    padding: .5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    border-radius: 3px;

}

.appstores{
    display:flex;
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
}

nav{
    display:flex;
    margin-bottom: 4em;
}



li{
    list-style: none;
}

p{
    letter-spacing: .01rem;
}

/* img {
    width: 30%;
    object-fit: contain;
  } */
=======
    padding: 15px 32px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.description{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

>>>>>>> ba2830a9b7ad150a41328acb2b4195d1b914de21
