:root{
    --primary-orange: rgb(255,102,0);
    --primary-navy: rgb(35,35,63);
    --primary-gray: rgb(242,242,242);
    

}


.container{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    outline: solid;
    height: auto;
    max-width: 33vw;
}

.terms-and-conditions{
    background-color: var(--primary-gray);
    font-size: small;
}
* .terms-and-conditions{
    padding:3em 4em;
}

h1{
    color: var(--primary-orange)
}

button{
    color:white;
    background-color: var(--primary-orange);
    border: none;
    padding: 1rem;
    margin-bottom: 3rem;

}

.appstores{
    display:flex;
    gap: 1rem;
    justify-content: center;
    padding: 3rem
}

nav{
    display:flex;
    margin-bottom: 4em;
}

li{
    list-style: none;
}
